Use_Label=false
Show_Values=false
Show_Bars=true
Colorize_Values=false
Color_In=rgb(255,79,0)
Color_Out=rgb(255,229,0)
Text=Net
Max_In=15360000
Max_Out=15360000
Auto_Max=false
Update_Interval=250
Values_As_Bits=false

